body {
    margin: 0;
}


/* Default Settings */
.right-site {
    height: 37rem !important;
    width: 44rem !important;
    padding: 16px;
}

.bg-red {
    background-color: rgb(248,24,24) !important;
    color: white !important;
}

.bg-red-transparent {
    background-color: rgb(255,164,164) !important;
}

.bg-green {
    background-color: rgb(77,191,20) !important;
    color: white !important;
}

.bg-green-transparent {
    background-color: rgb(183,247,152) !important;
}



/* Background */
.background {
    min-height: 100vh;
    min-width: 100%;
}


/* Maincontainer */
.maincontainer {
    display: flex;
    flex-direction: row;
}



/* Progress-Bar */
.progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}


/* Header */
.header-left {
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 37rem;
    display: flex;
    flex-direction: column;
}

.header-left-subcontainer {
    display: flex;
    flex-direction: column;
    font-size: 27px;
}

.logo {
    height: 6rem;
}

.header-left a {
    text-decoration: none;
    position: relative;
}

.line {
    display: none;
    height: 22px;
    width: 8px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: -42px;
}

.header-left a:hover {
    color: white !important;
    cursor: pointer;

    .line {
        display: block;
    }

}



/* Welcomeimage */
.welcomeimage {
    background-image: url(./img_blue/bg\ b.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



/* Questioncard */
h5 {
    font-size: 27px !important;
}

.card {
    border-radius: 0 !important;
    border: none !important;
    width: 30rem;
    gap: 24px;
    font-size: 27px;
}

.answer-category {
    height: 48px;
    width: 48px;
    margin-left: 12px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.answer-card:hover {
    cursor: pointer;
    background-color: rgba(0 0 0 / 5%);
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgrey;
    padding-top: 8px;
}

.bg-success,
.bg-danger {
    color: white !important;
}

.navigationarrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navigationarrows div {
    padding: 24px;
    background-color: rgb(219,223,244);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navigationarrows img {
    height: 32px;
    object-fit: contain;
    object-position: center;
}

.left-arrow {
    transform: rotate(180deg)
}



/* Endscreen after the quiz */
.endscreen {
    height: 32rem;
    width: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 24px;
}

.endscreen img {
    height: 11rem;
    object-fit: contain;
}

.endscreen div {
    display: flex;
    gap: 72px;
}

.endscreen button {
    background-color: rgb(255, 78, 15);
    width: 16rem;
    font-size: 24px;
}

.endscreen a {
    color: rgb(255, 78, 15);
    cursor: pointer;
}